@import url('https://fonts.googleapis.com/css?family=Oxygen:700|Raleway&subset=latin-ext');
/*imported ext latin set just in case project is changed over to Spanish and the extra characters needed*/

.primaryColor { color: #28F4D7; }
.secondaryColor { color: #EF7A65; }

body {
  background-color: .primaryColor;
}

@media only screen and (max-width: 360px) {
  padding-top: 420px;
}

@media only screen and (max-width: 768px) {
  padding-top: 420px;
}

@media only screen and (max-width: 1024px) {
  padding-top: 55px;
}

@media only screen and (min-width: 1200px) {
  padding-top: 55px;
}

p, a, label {
  font-family: 'Raleway', sans-serif;
  color: #EF7A65;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: #28F4D7;
}
