
/*imported ext latin set just in case project is changed over to Spanish and the extra characters needed*/

.primaryColor { color: #28F4D7; }
.secondaryColor { color: #EF7A65; }

.glyphicon {
  font-size: 75px;
}

@media only screen and (max-width: 360px) {
  .col-xs-12: 100%;
  body {
    background-color: #28F4D7;
  }
  .header {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .navbar-header {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -5px
  }

  .afford-left {
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
  }
  .afford-right {
    text-align: center;
    align-items: center;
  }
}


@media only screen and (max-width: 768px) {
  .col-sm-12: 100%;
  body {
    background-color: #28F4D7;
  }
  .header {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .navbar-header {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -5px
  }
  .afford-left {ß
    margin-left: 90%;
    text-align: center;
    align-items: center;
  }
  .afford-right {
    padding-top: 5px;
    margin-left: 10%;
    text-align: center;
    align-items: center;
  }

  }
}

@media only screen and (max-width: 1024px) {
  .col-md-12: 100%;
  .col-md-4: 0.33333333333333333333333333333333333333%;
  .col-md-6: 0.5%;
  body {
      background-color: #28F4D7;
    }
  .header {
      padding-bottom: 10px;
      margin-bottom: 5px;
  }
  .navbar-header {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -40px
    }
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-12: 100%;
  .col-md-4: 0.33333333333333333333333333333333333333%;
  .col-md-6: 0.5%;
  body {
      background-color: #28F4D7;
    }
  .header {
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  .navbar-header {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -40px
    }
  }
}

p, a, label {
  font-family: 'Raleway', sans-serif;
  color: #EF7A65;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: #28F4D7;
}
