
/*imported ext latin set just in case project is changed over to Spanish and the extra characters needed*/

.primaryColor { color: green; }
.secondaryColor { color: #EF7A65; }

.btn-FMI {
  text-align: center;
}

.solutions {
  height: 50rem;
  margin-top: 2rem;
  padding-top: 7rem;
}

.jumboBox {
  border: 1px solid white;
  border-radius: 1rem;
  text-align: center;
  margin: 10rem 2rem 0 2rem;
  padding: 4rem 2rem;
  width: 100%;
  color: white;
}

.jumbocustom {
  height: 100vh;
  background: url(../img/main.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: gray;
  background-blend-mode: multiply;

}

.jumboBox .designLine {
  width: 70%;
}
.jumboBox .primaryHeadline {
  font-size: 4.20rem;
  text-align: center;
}

.jumboBox .secondaryHeadline {
  font-size: 2.15rem;
}

.customNav {
  margin-right: 2rem;
}

nav, .navbar-header, .navbar .navbar-brand, .customNav , .navbar-nav>li>a{
  background: green;
  color: white;
}
.glyphicon {
  font-size: 75px;
}

.open .dropdown-menu{
  display: block;
}

@media only screen and (max-width: 360px) {
  .jumbocustom {
    height: 50rem;
  }
  .jumboBox {
    margin: 10rem 10rem 1.5rem 1.5rem;
  }


}

@media only screen and (min-width: 361px && max-width: 768px) {

  h2 {
    text-align: left;
  }
  .jumbocustom {
    height: 35em;
  }
  .jumboBox {
    margin: 15rem 15rem 2rem 2rem;
  }
  .header {
    width: 100%;
  }
  .mission {
    width: 100%;
  }
  .icon-well {
    width: 75%;
  }
  .joinform {
    width: 75%;
  }
  html {

  }
  button {
    padding: 0.5em;
  }

}

@media only screen and (min-width: 769px && max-width: 1024px) {

  .jumbocustom {
    height: 35em;
  }
  .jumboBox {
    margin: 20rem 20rem 2.5rem 2.5rem;

  }
  .header {
    width: 100%;
  }
  .mission {
    width: 100%;
  }
  .icon-well {
    width: 75%;
  }
  .joinform {
    width: 75%;
  }
  html {

  }
  button {
    padding: 0.5em;
  }

}

@media only screen and (min-width: 1200px) {

  .jumbocustom {
    height: 35em;
  }
  .jumboBox {
    margin: 10rem 15rem 3rem 3rem;

  }
  .header {
    width: 100%;
  }
  .icon-well {
    width: 75%;
  }
  .joinform {
    width: 80%;
  }

}
p, a, label {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
}
