@import url('https://fonts.googleapis.com/css?family=Oxygen:700|Raleway&subset=latin-ext');
/*imported ext latin set just in case project is changed over to Spanish and the extra characters needed*/

.primaryColor { color: #28F4D7; }
.secondaryColor { color: #EF7A65; }

@media only screen and (max-width: 360px) {
  .col-xs-12: 100%;
  #header {

    }
  .navbar-header {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -120px
    }
  }
}

@media only screen and (max-width: 768px) {
  .col-sm-12: 100%;
  #header {

    }
  #mission {
      margin-top: 125px;
    }
  .navbar-header {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -120px
  }

  }
}

@media only screen and (max-width: 1024px) {
  .col-md-12: 100%;
  .col-md-4: 0.33333333333333333333333333333333333333%;
  .col-md-6: 0.5%;
  #header {

    }
  #mission {
      margin-top: 45px
    }
  .navbar-header {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -40px
    }
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-12: 100%;
  .col-md-4: 0.33333333333333333333333333333333333333%;
  .col-md-6: 0.5%;
  #header {

    }
  #mission {
      margin-top: 45px;
    }
  .navbar-header {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -40px
    }
  }
}

p, a, label {
  font-family: 'Raleway', sans-serif;
  color: #EF7A65;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: #28F4D7;
}
